@import url("./header.css");
@import url("./footer.css");
@import url("./login-btn.css");

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nova+Square&display=swap");

:root {
  --branco: #fff;
  --preto: #000;
  --cinza: #ccc;
  --footer-color: #999;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--branco);
  font-family: "Inter", sans-serif;
  font-family: "Nova Square", "cursive";
}

img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.selected {
  display: block;
}

.company {
  background-image: url(../img/background-company.jpg);
  height: 350px;
}

#title {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

section {
  display: block;
}

.company-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 5em;
  color: var(--branco);
  background: rgba(0, 0, 0, 0.7);
}

.about-recruit-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0;
}

.about-recruit {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.about-recruit li {
  font-size: 22px;
  line-height: 1;
  padding: 40px 7em;
}

.border {
  border-top: 1px solid rgb(185, 182, 182);
}

tr {
  border-bottom: 1px solid rgb(185, 182, 182);
}

th {
  display: flex;
}

td {
  padding-left: 7em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.tabMenu-about {
  display: flex;
  justify-content: center;
  
}

.tabMenu-about_recrutar {
  display: flex;
  justify-content: center;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 580px;
}