@import url("./header.css");
@import url("./footer.css");
@import url("./login-btn.css");

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nova+Square&display=swap");

:root {
  --branco: #fff;
  --preto: #000;
  --cinza: #ccc;
  --footer-color: #999;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--branco);
  font-family: "Inter", sans-serif;
  font-family: "Nova Square", "cursive";
  margin: 0 auto;
}

img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.selected{
  display: block;
}

.arrow {
  border: solid var(--branco);
  border-width: 0 7px 7px 0;
  padding: 5px;
  display: inline-block;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


.company {
  background-image: url(../img/contato-pic.jpg);
  height: 350px;
}

#title {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.company-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 5em;
  color: var(--branco);
  background: rgba(0, 0, 0, 0.7);
}

.main-section__div {
  position: relative;
  bottom: 70px;
}


.main-section__div-p {
  position: relative;
  top: 160px; 
  display: flex;
  justify-content: flex-start;
  padding-left: 90px;
  align-items: center;
  letter-spacing: 2px;
}


.main-section__form {
  width: 100%;
  display: flex;
  justify-content: center;
}

tr {
  border-bottom: 1px solid rgb(185, 182, 182);
  border-top: 1px solid rgb(185, 182, 182);
}

.main-section__form td span {
  opacity: 0.5;
}


form input {
  width: 500px;
  border: 0.5px solid rgb(185, 182, 182);
  box-shadow: none;
}

form table th p{
  display: flex;
  letter-spacing: 1px;
  padding-left: 10px;
}


textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90em;
  height: 10em;
}

.tdCLass {
  display: flex;
  flex-direction: column;
}

.tdCLass p {
  display: flex;
  justify-content: flex-start;
}

.tipo-de-consulta {
  position: relative;
  bottom: 33px;
}


.div-input-radio {
  display: flex;
}

.main-section__div form td input {
  position: relative;
  right: 80px;
}

.main-section__div form td span {
  position: relative;
  right: 80px;
}