.footer {
    background-color: var(--preto);
    margin-top: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    gap: 5em;
    list-style: none;
    color: var(--footer-color);
}

.footer-container a {
    text-decoration: none;
    color: var(--footer-color);
}

.footer-container a:hover {
    color: rgb(230, 221, 221);
}


.footer-container__logos {
    display: flex;
}

.footer-container__logos img {
    padding-top: 1em;
    height: 30px;
}

.endereco   {
    color: var(--footer-color);
    line-height: 1;
}

.endereco-container {
    padding-bottom: 1em;
}

.endereco-container li {
    padding-top: 0.5em;
}


.copyright {
    color: var(--footer-color);
    font-size: 15px;
    background: var(--cinza);
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

