body,
ul {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 20px;
}

.menu a {
  color: var(--branco);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.header {
  padding: 20px 30px;
  box-sizing: border-box;
  height: 90px;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--preto);
  width: 100%;
  z-index: 100;
  transition: 0.3s;
  position: fixed;
}

.header li a {
  letter-spacing: 0.12em;
}

.header-logo img {
  height: 70px;
  position: relative;
  top: 5px;
}

.header a:hover {
  color: var(--cinza);
}

.menu {
  padding-right: 20px;
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  display: block;
  padding: 0.3em;
}

.btn-enter {
  position: relative;
  bottom: 2px;
  background: transparent;
  color: var(--branco);
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.12em;
}
